:root {
  --fgColor: #333;
  --bgColor: #f0f0f0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  place-items: center;
  font-family: "Nunito", sans-serif;
  background-color: var(--bgColor);
  color: var(--fgColor);
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  margin: 0;
}

img {
  width: 289px;
  height: 69px;
  margin-bottom: 1em;
}

p {
  margin-bottom: 0;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
